@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Podcast</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="~/dist/favicon.ico">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="~/dist/inline.bundle.js">
</script><script type="text/javascript" src="~/dist/polyfills.bundle.js">
</script><script type="text/javascript" src="~/dist/styles.bundle.js">
</script><script type="text/javascript" src="~/dist/vendor.bundle.js">
</script><script type="text/javascript" src="~/dist/main.bundle.js">
</script></body>
</html>
